<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
  <link rel="stylesheet" href="lib/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="icon" href="favicon.ico">
</head>
<body>

<div class="lt_container">

  <div class="lt_header">
    <a href="javascript:history.go(-1);" class="head_left"><i class="fa fa-chevron-left"></i></a>
    <h4>搜索</h4>
    <a href="javascript:location.reload();" class="head_right"><i class="mui-icon mui-icon-reload"></i></a>
  </div>

  <div class="lt_main">
    <div class="mui-scroll-wrapper">
      <div class="mui-scroll">
        <div class="lt_search">
          <input type="text" placeholder="请输入搜索关键字" class="search-text">
          <button class="mui-btn mui-btn-primary search-btn">搜索</button>
        </div>

        <div class="lt_history">
          <!--<div class="loading"></div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="lt_footer">
    <ul>
      <li><a href="index.html"><i class="fa fa-home"></i>
        <p>首页</p>
      </a></li>
      <li><a href="category.html"><i class="fa fa-bars"></i>
        <p>分类</p>
      </a></li>
      <li><a href="cart.html"><i class="fa fa-shopping-cart"></i>
        <p>购物车</p>
      </a></li>
      <li><a href="user.html"><i class="fa fa-user"></i>
        <p>会员中心</p>
      </a></li>
    </ul>
  </div>
</div>

<!--数据渲染-->
<script type="text/html" id="tpl">
  {{ if arr.length == 0}}
  <p>没有历史记录</p>
  {{ /if }}
  {{ if arr.length > 0 }}
  <div class="history mui-clearfix">
    <span class="mui-pull-left">搜索历史</span>
    <span class="mui-pull-right fa fa-trash btn-empty">清空记录</span>
  </div>
  <ul>
    {{ each arr v i }}
    <li><a href="searchList.html?key={{v}}">{{ v }}</a><i class="mui-pull-right mui-icon mui-icon-closeempty btn-delete" data-index="{{ i }}"></i></li>
    {{ /each }}
  </ul>
  {{ /if }}
</script>

<script src="lib/mui/js/mui.min.js"></script>
<script src="lib/zepto/zepto.min.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="js/common.js"></script>
<script src="js/search.js"></script>
</body>
</html>