@charset "UTF-8";
.lt_main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.lt_main .brandPic {
  padding: 10px;
}
.lt_main .brandPic li {
  float: left;
  width: 33.33%;
}
.lt_main .proShow {
  padding: 10px;
}
.lt_main .proShow li {
  width: 48%;
  border: 1px solid #ccc;
  padding: 10px;
  float: left;
  margin-bottom: 10px;
  text-align: center;
}
.lt_main .proShow li:nth-child(odd) {
  margin-right: 4%;
}
.lt_main .proShow li span:first-child {
  color: red;
}
.lt_main .proShow li span:last-child {
  text-decoration: line-through;
}
