@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
.bg_color {
  width: 100%;
  height: 100%;
  background-color: #222d32;
  padding-top: 150px;
}
.lt_slide {
  width: 180px;
  height: 100%;
  background-color: #222d32;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s;
}
.lt_slide.now {
  left: -180px;
}
.lt_slide .slide_top {
  width: 100%;
  height: 50px;
  background-color: #367fa9;
  margin-bottom: 30px;
}
.lt_slide .slide_top a {
  display: block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.lt_slide .slide_content {
  width: 180px;
}
.lt_slide .slide_content .c_user {
  width: 100%;
  height: 150px;
}
.lt_slide .slide_content img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}
.lt_slide .slide_content p {
  width: 180px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.lt_slide .c_list {
  width: 180px;
}
.lt_slide .c_list li {
  width: 100%;
}
.lt_slide .c_list .active {
  border-left-color: #367fa9;
  color: #fff;
  background: #333;
}
.lt_slide .c_list a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #ccc;
  border: 3px solid transparent;
  padding-left: 40px;
}
.lt_slide .c_list .cate {
  padding-left: 10px;
}
.lt_main {
  width: 100%;
  padding-left: 180px;
  height: 100%;
  background-color: #fff;
  transition: all 1s;
}
.lt_main.now {
  padding-left: 0;
}
.lt_header {
  width: 100%;
  height: 50px;
  background-color: #3c8dbc;
  margin-bottom: 20px;
}
.lt_header .close_menu,
.lt_header .logout_menu {
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
}
.lt_content {
  width: 100%;
  padding: 0 20px;
}
.lt_content .breadcrumb {
  margin-bottom: 10px;
}
.lt_content .inner_left {
  width: 45%;
  height: 400px;
}
.lt_content .inner_left .register {
  width: 70%;
  height: 100%;
}
.lt_content .inner_right {
  width: 45%;
  height: 400px;
}
.lt_content .inner_right .shoe {
  width: 70%;
  height: 100%;
}
.table.table-bordered td,
.table.table-bordered th {
  vertical-align: middle;
  text-align: center;
}
.btn-add {
  margin: 10px 0 20px 0;
}
