@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
i {
  font-style: normal;
}
html,
body {
  height: 100%;
  background-color: #fff;
}
img {
  width: 100%;
  display: block;
}
.lt_container {
  height: 100%;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 45px 0 50px 0;
}
.lt_header {
  width: 100%;
  height: 45px;
  background-color: #069;
  text-align: center;
  position: fixed;
  max-width: 640px;
  top: 0;
  z-index: 333;
}
.lt_header .head_left,
.lt_header .head_right {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  line-height: 45px;
  text-align: center;
  color: #fff;
}
.lt_header .head_left {
  left: 0;
}
.lt_header .head_right {
  right: 0;
}
.lt_header h4 {
  height: 45px;
  color: #fff;
  line-height: 45px;
  margin: 0;
}
.lt_footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: #069;
  z-index: 333;
}
.lt_footer li {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  padding-top: 5px;
}
.lt_footer li a {
  color: #fff;
}
.lt_footer li p {
  color: #fff;
  margin: 0;
}
.lt_footer li.active a,
.lt_footer li.active p {
  color: darkorange;
}
.lt_main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.lt_main .brandPic {
  padding: 10px;
}
.lt_main .brandPic li {
  float: left;
  width: 33.33%;
}
.lt_main .proShow {
  padding: 10px;
}
.lt_main .proShow li {
  width: 48%;
  border: 1px solid #ccc;
  padding: 10px;
  float: left;
  margin-bottom: 10px;
  text-align: center;
}
.lt_main .proShow li:nth-child(odd) {
  margin-right: 4%;
}
.lt_main .proShow li span:first-child {
  color: red;
}
.lt_main .proShow li span:last-child {
  text-decoration: line-through;
}
.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search .search-text {
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 15px;
  height: 34px;
  border-radius: 5px;
}
.lt_search .search-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0 5px 5px 0;
}
